.horizontal-row {
    background-color: #5cc6d0;
    height: 2px;
    width: 100%;
}

.footer {
    padding: 5%;
    color: #5cc6d0;
    text-align: center;
    font-size: 0.8rem;
}

.footer h2 {
    font-size: 1.2rem;
}

.footer__img {
    width: 50%;
    margin: 0;
}

.footer__contact {
    text-align: left;
}

.footer__contact__title {
    margin: 0;
}

.footer__contact a {
    display: block;
    color: #5cc6d0;
    text-decoration: none;
    font-weight: 600;
}

.footer__reach-us {
    text-align: left;
}

.footer__reach-us__title {
    margin: 0;
}

.footer__reach-us__content {
    font-weight: 600;
}


.footer__open-hours {
    text-align: left;
}

.footer__open-hours__title {
    margin: 0;
}

.footer__open-hours__content {
    font-weight: 600;
    margin-bottom: 5%;
}

.footer__social-medias {
    text-align: left;
}

.footer__social-medias__area {
    display: flex;
}

.footer__social-medias__icon {
    font-size: 1.5rem;
    margin-right: 2rem;
    color: #5cc6d0;
}

.footer__copyright {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

@media (min-width: 768px) {
    .footer {
        display: grid;
        grid-template-areas: 
        "img contact address open-hours social-medias"
        "copyright copyright copyright copyright copyright ";
        column-gap: 3%;
        padding: 0% 5%;
        padding-bottom: 1%;
    }

    .footer__img {
        height: 120px;
        width: max-content;
    }

    .footer__copyright {
        grid-area: copyright;
    }

    .copyright {
        grid-area: copyright;
    }

    .author {
        grid-area: author;
    }
}