.navbar * {
    font-weight: 700;
    color: #4096C6;
}

.navbar {
    padding: 0;
}

.navbar-brand img {
    width: 20vw;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active {
    border: none;
    box-shadow: none;
}

.navbar-nav {
    padding: 0 5%;
    text-align: end;
}