.services {
    padding: 5%;
    background-color: #5CC6D0;
}

.services__title {
    font-weight: 800;
    color: #FFF;
    text-shadow: 0px 0px 30px #023a3f;
}

.service {
    text-align: center;
    padding: 5% 0;
}

.service__img {
    width: 60vw;
    filter: drop-shadow(0px 0px 10px #03646dd0);
}

.service__title {
    margin-top: 10%;
    color: #FFF;
}

.services-control_prev-icon {
    color: #FFF;
    font-size: 2rem;
    font-weight: 800;
}

.services-control_next-icon {
    color: #FFF;
    font-size: 2rem;
    font-weight: 800;
}