.testimonials {
    padding: 5%;
    background-color: #5CC6D0;
    color: #FFF;
}

.testimonials__title {
    font-weight: 800;
    margin-bottom: 10%;
}

.testimonial__text {
    font-weight: 600;
    text-align: justify;
}

.testimonial {
    padding: 5%;
    border-radius: 10px;
    margin: 5% 0;
    background-color: #FFF;
    color: #5CC6D0;
}

.fa-star {
    color: gold;
}

@media (min-width: 500px) {
    .testimonials__content {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .testimonial {
        margin: 5% 5%;
    }
}

@media (min-width:768px) {
    .testimonials__content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .testimonials__title {
        font-size: 3rem;
        margin-bottom: 2%;
    }

}